/* .sidebar{
    flex: 3;
    margin: 20px;
    padding-bottom: 30px;
    background-color: #fdfbfb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebarItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebarTitle{
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    color: #222;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}
.sidebarItem > img{
    margin-top: 15px;
}
.sidebarItem > p{
    padding: 30px;
}
.sidebarList{
    list-style: none;
    margin-bottom: 30px;
}
.sidebarListItem{
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
}
.sidebarSocial{
    margin-top: 15px;
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: center;
}
.sidebarIcon{
    font-style: 16px;
    margin-left: 10px;
    cursor: pointer;
    
} */






.sidebar {
    flex: 1;
    height: 100%;
    background-color: rgb(251, 251, 255);
    position: sticky;
    /* top: 50px; */
    border: 2px solid gold;
}
  
  .sidebarWrapper {
    padding: 20px;
    color: #555;
    
  }
  
  .sidebarMenu {
    margin-bottom: 10px;
  }
  
  .sidebarTitle {
    font-size: 13px;
    color: rgb(187, 186, 186);
  }
  
  .sidebarList {
    list-style: none;
    padding: 5px;
  }
  
  .sidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }
  
  .sidebarListItem.active,
  .sidebarListItem:hover {
    background-color: rgb(240, 240, 255);
  }
  
  .sidebarIcon{
      margin-right: 5px;
      font-size: 20px !important;
  }