.schools{
    flex: 4;
}
img{
    height: 100px;
    width: 100px
}
td{
    padding: 10px;
    border: 1px solid green;
}
button{
    padding: 10px;

}
.edit{
    background-color: yellowgreen;
}
.delete{
    background-color: red;
}
.update{
    background-color: green;
}