.addSchool{
    flex: 4;
}
h1{
    text-align: center;
}
.form{
    display: flex;
}
input{
    display: flex;
    /* padding: 20px; */
    /* margin: 20px; */
}
.submitBtn{
    width: 98%;
    height: 50px;
    border: 1px solid #444;
    background-color: green;
    color: #fff;
}